@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
    /* border: 1px solid black;
    display: grid;
    height: 50rem;
    gap: 1.3rem; */
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "one two three"
        "one two three-low";
}

/* Hide scrollbar for all browsers */
.scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Hide scrollbar for WebKit-based browsers */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}
